.ball1 {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 150px;
  left: 165px;
  border-radius: 100%;
  background-image: url('../public/favicon.ico');
  animation: float1 9s linear infinite alternate both;
}
@keyframes float1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
.ball2 {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 43px;
  left: 425px;
  border-radius: 100%;
  background-image: url('../public/favicon.ico');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 25px;
  background-position-y: 10px;
  animation: float2 6s linear infinite alternate both;
}
@keyframes float2 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(5px, -5px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
  80% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}
.ball3 {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 181px;
  left: 59px;
  border-radius: 100%;
  background-image: url('../public/favicon.ico');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 10px;
  animation: float3 4s linear infinite alternate both;
}
@keyframes float3 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(5px, -5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0);
  }
}
.ball4 {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 447px;
  left: 360px;
  border-radius: 100%;
  background-image: url('../public/favicon.ico');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 10px;
  animation: float4 5s linear infinite alternate both;
}
@keyframes float4 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(0px, 10px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0);
  }
}
.ball5 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 461px;
  left: 287px;
  border-radius: 100%;
  background-image: url('../public/favicon.ico');
  animation: float5 3s linear infinite alternate both;
}
@keyframes float5 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(-5px, 5px);
  }
  60% {
    transform: translate(0px, 5px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0);
  }
}
